CREATE DATABASE HeThongQuanLyPhongTroDB;
GO

USE HeThongQuanLyPhongTroDB;
GO

CREATE TABLE TaiKhoan (
    MaTaiKhoan INT PRIMARY KEY IDENTITY(1,1),
    TenDangNhap NVARCHAR(50) UNIQUE NOT NULL,
    MatKhau NVARCHAR(255) NOT NULL,
    VaiTro NVARCHAR(20) NOT NULL,
    TrangThai NVARCHAR(20) DEFAULT N'Hoạt động'
);

CREATE TABLE KhachHang (
    MaKhachHang INT PRIMARY KEY IDENTITY(1,1),
    MaTaiKhoan INT NULL,
    HoTen NVARCHAR(100) NOT NULL,
    CCCD NVARCHAR(20),
    SoDienThoai NVARCHAR(15),
    Email NVARCHAR(100),
    DiaChi NVARCHAR(255),
    NgaySinh DATE,
    CONSTRAINT FK_KhachHang_TaiKhoan
        FOREIGN KEY (MaTaiKhoan) REFERENCES TaiKhoan(MaTaiKhoan)
);

CREATE TABLE CoSo (
    MaCoSo INT PRIMARY KEY IDENTITY(1,1),
    TenCoSo NVARCHAR(100) NOT NULL,
    DiaChi NVARCHAR(255),
    MoTa NVARCHAR(500)
);

CREATE TABLE Phong (
    MaPhong INT PRIMARY KEY IDENTITY(1,1),
    MaCoSo INT NOT NULL,
    TenPhong NVARCHAR(50) NOT NULL,
    GiaPhong DECIMAL(18,2) NOT NULL,
    DienTich FLOAT,
    TrangThai NVARCHAR(30) DEFAULT N'Trống',
    CONSTRAINT FK_Phong_CoSo
        FOREIGN KEY (MaCoSo) REFERENCES CoSo(MaCoSo)
);

CREATE TABLE BaiDang (
    MaBaiDang INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    TieuDe NVARCHAR(255),
    MoTa NVARCHAR(MAX),
    HinhAnh NVARCHAR(255),
    NgayDang DATETIME DEFAULT GETDATE(),
    TrangThai NVARCHAR(30) DEFAULT N'Hiển thị',
    CONSTRAINT FK_BaiDang_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);

CREATE TABLE CoSoVatChat (
    MaCSVC INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    TenThietBi NVARCHAR(100),
    SoLuong INT,
    TinhTrang NVARCHAR(100),
    CONSTRAINT FK_CSVC_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong)
);

CREATE TABLE HopDong (
    MaHopDong INT PRIMARY KEY IDENTITY(1,1),
    MaPhong INT NOT NULL,
    MaKhachHang INT NOT NULL,
    NgayBatDau DATE,
    NgayKetThuc DATE,
    TienCoc DECIMAL(18,2),
    FileHopDong NVARCHAR(255),
    TrangThai NVARCHAR(30) DEFAULT N'Hiệu lực',
    CONSTRAINT FK_HopDong_Phong
        FOREIGN KEY (MaPhong) REFERENCES Phong(MaPhong),
    CONSTRAINT FK_HopDong_KhachHang
        FOREIGN KEY (MaKhachHang) REFERENCES KhachHang(MaKhachHang)
);

CREATE TABLE NguoiOHopDong (
    MaNguoiO INT PRIMARY KEY IDENTITY(1,1),
    MaHopDong INT NOT NULL,
    HoTen NVARCHAR(100),
    CCCD NVARCHAR(20),
    SoDienThoai NVARCHAR(15),
    LaNguoiDaiDien BIT DEFAULT 0,
    CONSTRAINT FK_NguoiOHopDong_HopDong
        FOREIGN KEY (MaHopDong) REFERENCES HopDong(MaHopDong)
);

CREATE TABLE HoaDon (
    MaHoaDon INT PRIMARY KEY IDENTITY(1,1),
    MaHopDong INT NOT NULL,
    Thang INT,
    Nam INT,
    TongTien DECIMAL(18,2),
    TrangThai NVARCHAR(30) DEFAULT N'Chưa thanh toán',
    NgayTao DATETIME DEFAULT GETDATE(),
    CONSTRAINT FK_HoaDon_HopDong
        FOREIGN KEY (MaHopDong) REFERENCES HopDong(MaHopDong)
);

CREATE TABLE ChiTietHoaDon (
    MaChiTiet INT PRIMARY KEY IDENTITY(1,1),
    MaHoaDon INT NOT NULL,
    LoaiKhoanThu NVARCHAR(100),
    SoLuong DECIMAL(18,2),
    DonGia DECIMAL(18,2),
    ThanhTien DECIMAL(18,2),
    GhiChu NVARCHAR(255),
    CONSTRAINT FK_ChiTietHoaDon_HoaDon
        FOREIGN KEY (MaHoaDon) REFERENCES HoaDon(MaHoaDon)
);

CREATE TABLE ThanhToan (
    MaThanhToan INT PRIMARY KEY IDENTITY(1,1),
    MaHoaDon INT NOT NULL,
    SoTien DECIMAL(18,2),
    NgayThanhToan DATETIME,
    NoiDungChuyenKhoan NVARCHAR(255),
    TrangThai NVARCHAR(30),
    CONSTRAINT FK_ThanhToan_HoaDon
        FOREIGN KEY (MaHoaDon) REFERENCES HoaDon(MaHoaDon)
);
INSERT INTO TaiKhoan (TenDangNhap, MatKhau, VaiTro)
VALUES 
(N'admin', N'123456', N'Admin'),
(N'khach1', N'123456', N'Khach');

